
<h1
style="
  font-size: 2rem;
  background-color:teal;
  padding: 0.8rem;
  color: white;
  text-align:center;
"
>

STUDENT MANAGEMENT
</h1>
 <kendo-appbar >
      <kendo-appbar-spacer ></kendo-appbar-spacer>
      <kendo-appbar-section>
        <ul>
          <li class="home"><span><a routerLink="/">Home</a></span></li>
          <li class="students"><span ><a routerLink="/students">ListOfStudents</a></span></li>
        </ul>     
      </kendo-appbar-section>
    </kendo-appbar>

<router-outlet></router-outlet>